.c1{
    font-size:100px;
    color: #000;
}

#id1{
    border:1px solid blue;
}

ul.meniu > li{
    background-color: red;
    border: 5px solid blue;

}

#grid-pagina{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:"z-welcome z-welcome z-welcome",
    "z-promotii z-promotii";
}

#welcome{
    grid-area:z-welcome;
}
#promotii{
    grid-area:z-promotii;
}
@media screen and (max-width: 100){

};
    