<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu tortor ante. Aenean dapibus
            sagittis dignissim. Nam pellentesque ante nec ipsum vestibulum lobortis. Etiam vulputate, sem a
            molestie euismod, metus est semper mauris, eu molestie tortor quam eget tortor. Quisque malesuada
            dui ac tristique dictum. Morbi elementum orci sed interdum suscipit. Morbi purus lacus, mollis non
            est a, efficitur bibendum quam. Donec tristique nisl sed enim mollis, rutrum fringilla eros
            pellentesque. Fusce tempus arcu turpis, nec mollis nunc pretium at. Nulla facilisi. Integer varius
            risus quam, sit amet malesuada purus vestibulum ac. Duis dictum in magna egestas euismod. Phasellus
            ex diam, vestibulum tincidunt tincidunt id, egestas sit amet felis.</p>
            </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>