<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <div class="table-wrapper" style="padding-top: 3%; padding-bottom: 5%;">
        <h1 style="padding-bottom: 3%;">Servicii Foto</h1>
        <table class="servicii-foto-table">
            <thead>
                <tr class="servicii-foto-table-row">
                    <th class="servicii-foto-table-cell">Pachet</th>
                    <th class="servicii-foto-table-cell">Descriere</th>
                    <th class="servicii-foto-table-cell">Photobooth</th>
                    <th class="servicii-foto-table-cell">Videoclip moment importante</th>
                    <th class="servicii-foto-table-cell">Modalitate livrare</th>
                    <th class="servicii-foto-table-cell">Pret</th>
                </tr>
            </thead>
            <tbody>
                <tr class="servicii-foto-table-row">
                    <td class="servicii-foto-table-cell" data-title="Pachet">Pachet Foto Video Nunta Standard</td>
                    <td class="servicii-foto-table-cell" data-title="Descriere">Biserica + Restaurant</td>
                    <td class="servicii-foto-table-cell" data-title="Photobooth">NU</td>
                    <td class="servicii-foto-table-cell" data-title="Videoclip moment importante">DA</td>
                    <td class="servicii-foto-table-cell" data-title="Modalitate livrare">internet</td>
                    <td class="servicii-foto-table-cell" data-title="Pret">2600 Lei</td>
                </tr>
                <tr class="servicii-foto-table-row">
                    <td class="servicii-foto-table-cell" data-title="Pachet">Pachet Foto Video Nunta Premium</td>
                    <td class="servicii-foto-table-cell" data-title="Descriere">Biserica + Sedinta Foto Video + Restaurant</td>
                    <td class="servicii-foto-table-cell" data-title="Photobooth">DA</td>
                    <td class="servicii-foto-table-cell" data-title="Videoclip moment importante">DA</td>
                    <td class="servicii-foto-table-cell" data-title="Modalitate livrare">internet</td>
                    <td class="servicii-foto-table-cell" data-title="Pret">3200 Lei</td>
                </tr>
                <tr class="servicii-foto-table-row">
                    <td class="servicii-foto-table-cell" data-title="Pachet">Pachet Foto Video Nunta Luxury</td>
                    <td class="servicii-foto-table-cell" data-title="Descriere">Pregatiri + Biserica + Sedinta Foto Video + Restaurant</td>
                    <td class="servicii-foto-table-cell" data-title="Photobooth">DA</td>
                    <td class="servicii-foto-table-cell" data-title="Videoclip moment importante">DA</td>
                    <td class="servicii-foto-table-cell" data-title="Modalitate livrare">HDD extern 1TB</td>
                    <td class="servicii-foto-table-cell" data-title="Pret">4300 Lei</td>
                </tr>
            </tbody>
        </table>
      </div>
      <table class="transpose-table">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
            </tr>
            <tr>
                <td>Data 4</td>
                <td>Data 5</td>
                <td>Data 6</td>
            </tr>
        </tbody>
      </table>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>