 <!-- <section id="news">
                <h2>News about us</h2>

                <article>
                    <h3>Dream wedding</h3>
                    <p><em>Dream</em> wedding. Who doesn't want to hear that? Who doesn't want to have that?</p>
                    <p>We are proud to say we helped Mihai & Mirela make their dream come true.
                        They had an amazing time in our favourite <b>location</b> - MPalace - in Bucharest, with their
                        family and friends.
                    </p>
                    <p>You can find more about it <a
                            href="http://www.salonmireasa.ro/jurnal/item/interviul-lunii-minunata-geta-ungureanu.html "
                            target="_blank">here,</a>
                        in the interview taken by our lead - Geta Ungureanu.</p>
                </article>

                <article>
                    <h3>"Our team is stronger than ever!"</h3>
                    <p>This is what we heard on a sunnny Monday morning. Rick, the manager of Emag, just got back with
                        feedback about the teambuilding we organized for his team this weekend.</p>
                    <p> Not only we were very pleased to hear it, but Emag has been working with TODO events for a very
                        long
                        time, so keeping our customer <em>happy</em> and <em>loyal</em> is one of our top priorities</p>
                    <p> The team, consisting of 20 people, had a nice 4 days trip to Poiana Brasov, a mountain location
                        in
                        Romania. They stayed at Mariotte and had all meals included, and an extra special dinner</p>
                    <p> We organized different activities, including personalized trainings but also fun ones such as:
                    </p>
                    <ol>
                        <li>Ski and snowboard</li>
                        <li>Swimming and jacuzzi</li>
                        <li>Pasta cooking class</li>
                        <li>Board games night</li>
                    </ol>
                    <p>Overall, everybody was very pleased, or as we say in Romania: <i lang="ro">Chef pe cinste</i>.
                        See
                        you soon Rick!</p>
                </article>

                <article>
                    <h3>Article 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed suscipit mauris. Proin commodo,
                        arcu in mollis ullamcorper, tortor elit pulvinar dui, at vehicula mauris felis laoreet mauris.
                        Nunc
                        vulputate risus ex.</p>
                    <ol>
                        <li>Suspendisse tempus imperdiet elit in.</li>
                        <li>Quisque feugiat, mi eget condimentum</li>
                        <li>Nunc vitae semper lacus, sed hendrerit purus </li>
                        <li>Aenean imperdiet lorem vitae velit porta</li>
                    </ol>
                </article>
            </section> -->