<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <h2>Our partners</h2>
        <div id="partners">
        <img src="/resurse/images/partners.png" alt="logo">
        <p>  Please <a href="/contact" target="_blank">contact us</a> if you are interested in working together as a partner.</p>
    </div>
</main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>