<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragmente/head.ejs")%>
</head>
<body class="fixed-background">
    <%- include("../fragmente/header.ejs")%>
    <main>
        <h2>Photos & Videos</h2>
        <h3>A lake wedding</h3>
        <video controls style="width: 80%; height:auto" poster = "/resurse/images/testimonial_video-poster.jpeg"  preload="metadata">
        <source src="resurse/video/testimonial.mp4" type="video/mp4">
        <source src="resurse/video/testimonial.ogv" type="video/ogv">
        <track src="resurse/video/tracks/caption_en.vtt" kind="captions" srclang="en" label="English" />
        <track default src="resurse/video/tracks/caption_ro.vtt" kind="captions" srclang="ro" label="Romanian" />
    </video>
    <h3>Twin gender reveal: forrest themed</h3>
        <video controls style="width: 80%; height:auto" poster = "/resurse/images/testimonial_video-poster.jpeg"  preload="metadata">
        <source src="resurse/video/testimonial.mp4" type="video/mp4">
        <source src="resurse/video/testimonial.ogv" type="video/ogv">
        <track src="resurse/video/tracks/caption_en.vtt" kind="captions" srclang="en" label="English" />
        <track default src="resurse/video/tracks/caption_ro.vtt" kind="captions" srclang="ro" label="Romanian" />
    </video>
    <h3>Teambuilding, we build the team together</h3>
    <video controls style="width: 80%; height:auto" poster = "/resurse/images/testimonial_video-poster.jpeg"  preload="metadata">
    <source src="resurse/video/testimonial.mp4" type="video/mp4">
    <source src="resurse/video/testimonial.ogv" type="video/ogv">
    <track src="resurse/video/tracks/caption_en.vtt" kind="captions" srclang="en" label="English" />
    <track default src="resurse/video/tracks/caption_ro.vtt" kind="captions" srclang="ro" label="Romanian" />
</video>
    </main>
    <%- include("../fragmente/footer.ejs")%>
</body>
<script>
    var images = ['fixed-background-1.jpg', 'fixed-background-2.jpg', 'fixed-background-3.jpg'];
    var currentIndex = 0;

    function changeFixedBackground() {
      var element = document.querySelector('.fixed-background');
      element.style.backgroundImage = 'url(/resurse/images/' + images[currentIndex] + ')';
      currentIndex = (currentIndex + 1) % images.length;
    }
    setInterval(changeFixedBackground, 3000);
</script>
</html>