<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragmente/head.ejs")%>
</head>
<body>
    <%- include("../fragmente/header.ejs")%>
    <main>
        <h2>Portfolio</h2>
        <div id="portfolio-grid">
        <%- include("../fragmente/animated-gallery.ejs") %>
        <div id="portfolio-details">
        <p>Please read more about our clients <a href="/testimonials" target="_blank">here</a>!</p>
    </div>
    </div>
    </main>
    <%- include("../fragmente/footer.ejs")%>
</body>

</html>