<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../fragmente/head.ejs")%>
</head>
<body>
    <%- include("../fragmente/header.ejs")%>
    <main>
<h2 id="text">The team</h2>
<h2 id="text-reflectat">The team</h2>
                <!-- <p>Meet the <abbr title="TODO events">TDe</abbr> team!</p> -->
                <div id="team-grid">
                <figure class="team-grid-item">
                    <img src="/resurse/images/team/team-lead.png" alt="logo">
                    <figcaption>Our team lead</figcaption>
                </figure>

                <figure class="team-grid-item">
                    <img src="/resurse/images/team/director.png" alt="logo">
                    <figcaption>Our director</figcaption>
                </figure>

                <figure class="team-grid-item">
                    <img src="/resurse/images/team/SEO.png" alt="logo">
                    <figcaption>Our SEO</figcaption>
                </figure>

                <figure class="team-grid-item">
                    <img src="/resurse/images/team/customer-support.png" alt="logo">
                    <figcaption>Our customer representativ</figcaption>
                </figure>

                <figure class="team-grid-item">
                    <img src="/resurse/images/team/assistant.png" alt="logo">
                    <figcaption>Our assistants</figcaption>
                </figure>

                <figure class="team-grid-item">
                    <img src="/resurse/images/team/second-assistant.png" alt="logo">
                    <figcaption>Our assistants</figcaption>
                </figure>
                </div>
    </main>
    <%- include("../fragmente/footer.ejs")%>
</body>

</html>