<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <%- include("../fragmente/gallery.ejs") %>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>
