@media screen and (max-width: 700px) {
  html {
    --bg-color-pink: #FFF0F5;
    --bg-color-light:whitesmoke;
        --button-color: #E9D9C9;
    --highlight: #9D674D;
    --text-color: #967869;
    --links-color: #9F9685;
    --border-color: #f1d5d5;
    --menu-color: rgb(240, 239, 224);

    --page-padding: 20px;
  }
    ul.menu{
      position: absolute;
    display: none;
  }

    #home:hover{
        .home-1000{
      display: none;
    }
  }
    #hamburger{
    display: block;
    position: relative;
    z-index: 2;
  }
    #hamburger i{
    color: var(--highlight);
    display: block;
    padding: 2%;
    background-color: var(--bg-color-pink);
    border: 1px solid var(--highlight);
    border-radius: 10px;
  }

/*de modificat numarul de pagini sau gradientul!*/
#ch-menu:checked + ul.menu{
  display: block;
  position: absolute;
  -webkit-mask-image: linear-gradient(to bottom, black,black 50%, transparent);
  mask-image: linear-gradient(to bottom, black,black 50%, transparent);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: clip-fade 1s forwards;
    -webkit-mask-size:100% 200%;
    mask-size:100% 200%; 
    -webkit-mask-position: 0% 100%;
    mask-position: 0% 100%;
  }

  
  @keyframes clip-fade {
    0% {
      -webkit-mask-position: 0% 100%;
      mask-position: 0% 100%;
    }
    100% {
      -webkit-mask-position: 0% 0%;
      mask-position: 0% 0%;
    }
  } 

ul.menu li:hover > ul {
    mask-position: top;
    transition: mask-position 0.5s;
    mask-image: linear-gradient(180deg, black,black,black,black, transparent);
    mask-size: 100% 200%;
  transition:all 0.5s linear;
  }

ul.menu li:hover > ul li {
    transition: background-color 0.5s;


  }

  ul.menu li ul li {
    position: relative;
    display: block;
    /* padding: 5px 0; */

  }

}


