@media screen and (max-width: 700px) {
  html {
    --bg-color-pink: #FFF0F5;
    --bg-color-light:whitesmoke;
        --button-color: #E9D9C9;
    --highlight: #9D674D;
    --text-color: #967869;
    --links-color: #9F9685;
    --border-color: #f1d5d5;
    --menu-color: rgb(240, 239, 224);

    --page-padding: 20px;
  }
    ul.menu{
    display: none;
  }

    #home:hover{
        .home-1000{
      display: none;
    }
  }
    #hamburger{
    display: block;
    position: relative;
    z-index: 2;
  }
    #hamburger i{
    color: var(--highlight);
    display: block;
    padding: 2%;
    background-color: var(--bg-color-pink);
    border: 1px solid var(--highlight);
    border-radius: 10px;
  }

#ch-menu:checked + ul.menu{
    display: block;
    transform: scale(1, 1);
    transform-origin: left;
    transition: all 500ms linear;

  }

ul.menu li:hover > ul {
    display: block;
    mask-position: top;
    transition: mask-position 0.5s;
  -webkit-mask-image: linear-gradient(to top, black ,black);
    mask-image: linear-gradient(to top, black, black);
  transition:all 0.5s linear;

  }

ul.menu li:hover > ul li {
    transition: background-color 0.5s;

  }

  ul.menu li ul li {
    position: relative;
    display: block;
    /* padding: 5px 0; */
  }

}


