@media screen and (max-width: 1000px) {

    #home i {
        display: inline;
    }

    #home .home-1000 {
        display: none;
    }

    .menu > div {
        width: 100%;
    }

    
a.menu-link-home{
    display: none;
  }

    #home:hover {

        .menu-link-home{
            display: inline;
          }
    }
}