@media screen and (max-width: 700px) {
    html{
        --page-padding: 10px;
        animation: none;
        transition: none;
        font-size: 14px;
        padding-left: var(--page-padding);
        padding-right: var(--page-padding);
     }

     #schedule {
        overflow-x:auto;
        overflow-y: hidden;
        white-space: nowrap;
        display:block;
    }

    #page-grid {
        display: block;
            }

            footer iframe{
                width: 80%;
            }
}
