@media screen and (max-width: 700px) {
    html{
        animation: none;
        transition: none;
        font-size: 14px;
     }

     #office-schedule {
        overflow-x:scroll;
        overflow-y: hidden;
    }

    #page-grid {
        display: grid;
        grid-column: 1;
        grid-template-columns: 1fr;
        grid-template-areas: "zone-1"
            "zone-2"
            "zone-3"
            "zone 4"
            "zone-5"
            "zone-6"
            "zone-7"
            "zone-8";
    }

   ul.menu #home{
    display: none;
   }

   ul.menu #home-1000{
    display: block;
   }



}
