/* Task tabel */
html {
    --bg-color: #E6F3EC;
    --button-color: #E9D9C9;
    --highlight: #9D674D;
    --text-color: #967869;
    --links-color: #9F9685;
    --border-color: #f1d5d5;
    --odd-color: rgb(184, 144, 151);
    --even-color: pink;
}


#schedule {
    height: auto;
    width: auto;
    caption-side: bottom;
    overflow: auto;
    border: 2px solid var(--border-color);
    margin: auto;
    background-color: var(--table-bg-color);
    table-layout: fixed;
}

#schedule td:nth-child(odd) {
    border-right: 1px solid var(--odd-color);
}

#schedule td:nth-child(even) {
    border-right: 1px solid var(--even-color);
}

#schedule td {
    border: 1px solid var(--highlight);
}

#schedule tbody {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
}

#schedule tfoot,
thead {
    font-weight: bold;
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
}


#schedule td,
th,
tfoot {
    text-align: center;
    text-shadow: var(--highlight);
    padding-left: 20px;
    padding-right: 20px;
}

#schedule tr:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: box-shadow 0.5s ease-in-out;
}