body.dark{
    --background-color: rgb(156, 177, 216);
    --menu-links: #FF6347;
    --menu-color: rgba(111, 111, 219, 0.904);
    --text-color: purple ;
    --footer-color: #FF6347 ;

    
    background-color: var( --background-color);
    color: var(--text-color);
    
    ul.menu > li {
        background-color: var(--menu-color);
    }

    ul.menu li a{
        color: var(--menu-links);
    }

    footer{
        background-color: var(--footer-color);
    }
   
}
