<footer>
    <section id="#contact">
        <script type="text/javascript" src="/resurse/js/cookies.js"></script>

        <h2>Contact</h2>
            <address>
                <a href="tel:+407256222450"><span class="fa-regular fa-solid fa-phone"> Call us</a>
                <a href="mailto:lorena.potlog@yahoo.com"><span class="fa-regular fa-solid fa-envelope"> Email us</a>
                <a href="skype:lorenapotlog?chat"><span class="fa-regular fa-solid fa-comments"> 24/7 assistance
                        (via
                        Skype)</a>
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011393105!2d26.097011775875163!3d44.43553547107589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1682778737477!5m2!1sen!2sro"
                    target="_blank" span class="fa-regular fa-solid fa-location-dot">
                    Meet us @ Academy street no. 14, 010014, Bucharest</a>
                <iframe id="imagine"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011393105!2d26.097011775875163!3d44.43553547107589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1682778737477!5m2!1sen!2sro"
                    width="50%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </address>

            <button id="delete-cookies">DELETE ALL COOKIES</button>

            <!-- <a id="link-top" href="#">
                <div id="diamond"><span class="tooltiptext">Scroll up</span></div>
            </a> -->

            <div id="scroll">
            <div id="copyright">
                <small>Copyright 2023 &copy; TODO events, <time datetime="2023-05-05">5 May 2023 - </time></small>
            </div>
            </div>

            <!-- <div id="banner" class="disclaimer-banner"> 
                <div class="banner-content">
                <p >This is a school project. <span id="mesaj-cookies">Do you accept the cookies? <button id="ok_cookies">Yes</button></span></p>
            </div>
            </div> -->
        
            <p id="banner"><span id="mesaj-cookies"> This is a school project. Do you accept the cookies? <button id="ok_cookies">Yes</button></span></p>


        <div id="watermark"></div>
    </section>
</footer>