<script type="text/javascript" src="/resurse/js/theme.js"></script>
<header>
    <h1>TODO <span>events</span></h1>
        <div class="theme-wrapper" style="display: inline;">
        <div id="select_tema" style="position:relative ; padding-left: 90%; display:flex;">
            <i class="fa-regular fa-moon" style="margin-top:4px; margin-right: 4px;" ></i>
                <div class="form-check form-switch" id="cont_switch" >
                    <input class="form-check-input" type="checkbox" role="switch" id="switch_tema" style="background-color:burlywood">
                  </div>
            <i class="fa-regular fa-sun" style="margin-top:4px;"></i>
      </div>
    </div>
</header>

<nav>
    
    <!-- <div id="menu-wrapper">
    <label id="hamburger" for="ch-menu">
        <div class="hamburger-menu">
        <div id="bar-1"></div>
        <div id="bar-2"></div>
        <div id="bar-3"></div>
    </div>
    </label> -->
    <!-- <input id="ch-menu" type="checkbox"> -->
    
    <div id = "menu-container", style="width: 100%; height: fit-content;">
        <label id="hamburger" for="ch-menu">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input id="ch-menu" type="checkbox">
    <ul class="menu">
        <li>
            <div id="home">
                <i class="fa-solid fa-regular fa-house"></i>
                <a class = "menu-link-home" href="/home" class="home-1000">Home</a>
            </div>

            <ul>
                <li><a class = "menu-link" href="/home#welcome">Welcome</a></li>
                <li><a class = "menu-link" href="/home#good-to-know">Good to know</a></li>
                <li><a class = "menu-link" href="/home#calendar">Calendar</a></li>
                <li><a class = "menu-link" href="/home#users">Users</a></li>
                <!-- <li><a class = "menu-link" href="/home#announcements">Announcements</a></li>
                <li><a class = "menu-link" href="/home#users-stats">User stats</a></li>
                <li><a class = "menu-link" href="/home#server">Server</a></li>
                <li><a class = "menu-link" href="/home#our-work">Our work</a></li>
                <li><a class = "menu-link" href="/home#reviews">Reviews</a></li> -->
            </ul>
        </li>

        <li><a class="" href="/events">Events</a>
            <ul class="">
            <%for (let option of obGlobal.menuOptions) {%>
                <li><a class="nav-bar-link" href="/events?category=<%- option%>"><%- option%></a></li>
            <%}%>
            </ul>
        </li>

        <li>
            <div>Services</div>
            <ul>
                <li><a class = "menu-link" href="#">Food & Beverages</a></li>
                <li><a class = "menu-link" href="/foto-video">Photo & Video</a></li>
                <li><a class = "menu-link" href="#">Music</a></li>
                <li><a class = "menu-link" href="#">Locations</a></li>
            </ul>
        </li>

        <li><div>
            <div><a href="/portfolio">Portfolio</a></div>
            <ul>
                <li><a class = "menu-link" href="/photos-and-videos">Photos & Videos</a></li>
                <li><a class = "menu-link" href="/testimonials">Testimonials</a></li>
            </ul>
        </div></li>

        <li>
            <div>About us</div>
            <ul>
                <li><a class = "menu-link" href="/team">Team</a></li>
                <li><a class = "menu-link" href="/office">Office</a></li>
                <li><a class = "menu-link" href="/partners">Partners</a></li>
            </ul>
        </li>

        <li><a href="/inregistrare">Register</a></li>


        <!-- <li><a href="/cos-virtual">Your bag</a></li>
                <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
                    <li><div>Handle</div>
                        <ul>
                            <li><a href="/useri">Users</a></li>
                            <li><a href="/grafice">Graphs</a></li>
                            <li><a href="/comenzi">Orders</a></li>
                        </ul>
                    </li>
                <% } %> -->
                <% if(locals.utilizator) { %>
                    <li><div><%- locals.utilizator.username %></div>
                        <ul>
                            <li><a href="/profil">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } %>

        <li><a class = "menu-link" href="/contact">Contact</a></li>
    </ul>
</div>
</div>
</nav>