<header>
    <h1>TODO <span>events</span></h1>
    <!-- <picture>
        <source srcset="./resurse/logo/peony-80.jpg" media="(max-width:700px)" />
        <source srcset="./resurse/logo/peony-100.jpg" media="(max-width:1200px)" />
        <img src="./resurse/logo/peony-150.jpg" alt="logo"fa-regular fa-solid fa-house />
    </picture> -->
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="menu">
        <li>
            <div id="home">
                <i class="fa-solid fa-regular fa-house"></i>
                <a class = "menu-link" href="#home" class="home-1000">Home</a>
            </div>

            <ul>
                <li><a class = "menu-link" href="/home#welcome">Welcome</a></li>
                <li><a class = "menu-link" href="/home#bits-and-pieces">Bits and pieces</a></li>
                <li><a class = "menu-link" href="/home#team">The team</a></li>
                <li><a class = "menu-link" href="/home#good-to-know">Good to know</a></li>
            </ul>
        </li>

        <li>
            <div>Events</div>
            <ul>
                <li><a class = "menu-link" href="#">Wedding</a></li>
                <li><a class = "menu-link" href="#">Birthday</a></li>
                <li><a class = "menu-link" href="#">Gender reveal</a></li>
                <li><a class = "menu-link" href="#">Corporate</a></li>
                <li><a class = "menu-link" href="#">Other</a></li>
            </ul>
        </li>

        <li>
            <div>Services</div>
            <ul>
                <li><a class = "menu-link" href="#">Food & Beverages</a></li>
                <li><a class = "menu-link" href="#">Photo & Video</a></li>
                <li><a class = "menu-link" href="#">Music</a></li>
                <li><a class = "menu-link" href="#">Locations</a></li>
            </ul>
        </li>

        <li>
            <div>Portfolio</div>
            <ul>
                <li><a class = "menu-link" href="#">3D Tur</a></li>
                <li><a class = "menu-link" href="/galerie">Photos & Videos</a></li>
                <li><a class = "menu-link" href="/testimonials">Testimonials</a></li>
            </ul>
        </li>

        <li>
            <div>About us</div>
            <ul>
                <li><a class = "menu-link" href="#">Team</a></li>
                <li><a class = "menu-link" href="#">Office</a></li>
                <li><a class = "menu-link" href="#">Partners</a></li>
            </ul>
        </li>

        <li><a class = "menu-link" href="/contact">Contact</a></li>
    </ul>
</nav>