<head>

    <title>TODO events</title>
    <meta charset="UTF-8">
    <meta name="description"
        content="The TODO team will help you organize the best events for any ocasion. We take the to-dos off your list.">
    <meta name="keywords"
        content="event, wedding, corporate, birthday, baptism, flowers, candybar, organizer, concerts, teambuilding">
    <meta name="author" content="Lorena Potlog">

    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
    <link rel="manifest" href="/resurse/ico/site.webmanifest">
    <link rel="mask-icon" href="/resurse/ico/safari-pinned-tab.svg" color="#d8bbff">
    <link rel="shortcut icon" href="/resurse/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#ecb7bc">
    <meta name="msapplication-config" content="/resurse/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- <link rel="stylesheet" href="/resurse/css/customizare_bootstrap.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    
    <link rel="stylesheet" type="text/css" href="/resurse/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/style-1500.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/style-1000.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/style-700.css">

    <link rel="stylesheet" href="/resurse/css/nav.css">
    <link rel="stylesheet" href="/resurse/css/nav-1000.css">
    <link rel="stylesheet" href="/resurse/css/nav-700.css">

    <!-- <link rel="stylesheet" href="/resurse/css/nav-700-bonus.css"> -->


    <link rel="stylesheet" href="/resurse/css/static-gallery-1500.css">
    <link rel="stylesheet" href="/resurse/css/static-gallery-1000.css">
    <link rel="stylesheet" href="/resurse/css/static-gallery-700.css">
    <link rel="stylesheet" href="/resurse/css/static-gallery.css">


    <link rel="stylesheet" href="/resurse/css/contact.css">



    <link rel="stylesheet" type="text/css" href="/resurse/css/table.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/print.css">
    <link rel="stylesheet" type="text/css" href="/resurse/slideshow.js">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

</head>